  <div class="ltr-container">
    <section class="perfil">
      <div style="width: 100%;">
        <h2>Perfil</h2>
      </div>

      <fieldset class="fldset-form fldset-style">
        <div class="input-comb">
          <div class="ipt-comb-div">
            <label for="name">Nombre completo</label>
            <label class="input" id="name" name="name">{{UserName}}</label>
          </div>

          <div class="ipt-comb-div">
            <label for="remitEmail">Rol en el sistema</label>
            <label class="input" id="remitEmail" name="remitEmail">{{UserRol}}</label>
          </div>
        </div>

        <div class="nor-form-div">
          <label for="age">Edad</label>
          <label class="input" id="age" name="age">{{UserAge}}</label>
        </div>

        <div class="nor-form-div">
          <label for="email">Correo electrónico</label>
          <label class="input" id="email" name="email">{{UserEmail}}</label>
        </div>
      </fieldset>
    </section>
  </div>

  <div>
    <div class="bttn-grp">
      <button class="custom-bttn" onclick="loadLetterTable(true, 0)"">Cartas enviadas</button>
      <button class="custom-bttn" onclick="loadLetterTable(false, 0)">Cartas recibidas</button>
      <button class="custom-bttn" onclick="goToCreateLetter()">Enviar una carta</button>
      <button class="custom-bttn" onclick="goToImageMaint()">Subir una imagen</button>
    </div>

    <section id="lettersSection" class="letters-table">
    </section>
  </div>