<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>{{PAGETITLE}}</title>

	<link rel="stylesheet" href="/css/style.css">
	<script src="/js/functions.js"></script>
</head>
<body>
	<div class="header">
		<span class="title">{{PAGETITLE}}</span>
		<span class="menu-options">{{OPTIONS}}</span>
	</div>

	<div class="content">
		<div id="notify" hidden>
			<span id="notify-message"></span>
			<button class="close" onclick="closeNotify(this)">X</button>
		</div>

		<div id="customModal" class="modal-overlay hidden">
			<div class="modal-box">
				<p id="modalMessage">Mensaje por defecto</p>

				<div class="modal-actions">
					<button id="modalBtnCancel" class="custom-bttn2">Cancelar</button>
					<button id="modalBtnConfirm" class="custom-bttn2">Aceptar</button>
				</div>
			</div>
		</div>
