 <div class="flex-row g-d">
		<span class="flex-1">
			<h2 style="margin-bottom: 20px;">Bienvenido</h2>
			<p>“Con Cariño” es una plataforma web que permite crear y enviar tarjetas digitales para compartir felicitaciones, agradecimientos y mensajes especiales con familiares, amigos o compañeros.<br>
				<br>
				Explora y selecciona imágenes disponibles en el sitio. Sin embargo, para enviar una tarjeta es necesario estar registrado e ingresar al sistema. Cada tarjeta puede incluir los datos del remitente y destinatario, así como una dedicatoria personalizada.<br>
				<br>
				Además, los usuarios registrados pueden crear tarjetas personalizadas utilizando sus propias imágenes. Una vez enviada la tarjeta, el destinatario recibirá un correo electrónico con un enlace para visualizarla.<br>
				<br>
				En “Con Cariño” buscamos facilitar la comunicación y hacer que cada mensaje sea más especial y memorable.
			</p>
		</span>

		<span>
			<img src="/media/tarjeta2.png" alt="letter" width="200" height="200" style="object-fit: cover;">
		</span> 
	</div>

	<div>
		<span>
			<h2 style="margin-bottom: 20px;">Empieza ahora mismo</h2>
			<button class="custom-bttn" onclick="gotToLogin()">Enviar una carta</button>
		</span>
	</div>
	